.vscode/**
.vscode-test/**
.codegraph/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc*
**/*.map
**/*.ts
build.js
yarn.lock
package-lock.json
test-samples/**
image/**
PROGRESS.md
LESSONS.md
**/*.vsix
template/**
